#!/bin/bash
#----- general env vars -----#
export SCRIPT_DIR="/path/to/scripts/root/"
export BROADCAST_IP="255.255.255.255"
export MAIL_TO="example@example.com"	# used for any scripts that send mail
export mnt="/path/to/network/share"	# mount location of network share for remote backup script 

#----- variables for prox scripts -----#
export user="james"	# assumed constant across all hosts, VMs & CTs
export ip_host="192.168.1.100"	# IPv4 IP of Proxmox host on LAN
export mac_addr="1a:2b:3c:d4:00:00"	# Mac Address of Proxmox host for wake-on-LAN
export exclude_update="/path/to/exclude_update.txt"	# used to exlcude VMs/CTs from update & backup
export exclude_backup="/path/to/exclude_backup.txt"	# used to exclude specific dirs from backup
